<%- include("partials/header.ejs") %>
<body onload="loadTableData()">

    <b>Tuotteen lisäys varastoluetteloon</b>

    <div>
        <form action="/code" method="POST">
            <div>
                <label >Skannaa tai syötä EAN:</label>
                <input type="text" id="ean_code" name="ean_code" autofocus/>
                         
                <input type="submit" value="Hae tuote"/>
            </div>           
        </form>
    </div>
    <br>
     <div>
        <form action="/post" method="POST">
            <div>
                <label >Tuote:</label>
                <input type="text" id="prod_item" name="prod_item"  value="<%= locals.pName %>"/>
                <br>
                <label >Ryhmä:</label>
                <input type="text" id="prod_group" name="prod_group"  value="<%= locals.pGroup %>"/>
                <label >Parasta ennen: </label>
                <input type="date" id="prod_pvm" name="prod_pvm"/>
                

                <input type="submit" value="Lisää"/>
            </div>           
        </form>
    </div>


<hr color="white"/>
    <div>
        <b>Tuotteet</b>

        <input type="text" id="myInput" onkeyup="dynamicCellSearch()" placeholder="Etsi tuotetta...">
        

        <p id="todayis"></p>

        <table id="myTable">
            <thead class="scroll-thead">
                <tr class="header">
                    <th width="26px">ID</th>
                    <th width="450px">Tuote</th>
                    <th width="90px">Ryhmä</th>
                    <th width="100px">Päiväys</th>
                </tr>
            </thead>
            <tbody id="data-output" class="scroll-tbody-y table-body">
            </tbody>            
        </table>
    </div>
</br>
<hr color="white"/>
    <!-- POISTO -->

    <b style="color: rgb(180, 1, 1); background: white;">Tuoterivin poisto</b>
    <div>
        <form action="/del" method="POST">
            <div>
                <label >Rivin ID:</label>
                <input  type="text" id="id" name="id"/>

                <input style="background-color: red;"  type="submit" value="Poista"/>
            </div>           
        </form>
    </div>
    <br>
    <div>
        <button onclick="location.reload();">Päivitä sivu</button>
        <button onclick="loadTableData()">Päivitä taulu</button>
    </div>

</br>
    <div>
        
    </div>

</body>
<script src="script.js"></script>

<%- include("partials/footer.ejs") %>